<%- include('../../layout/head') %>
    <%- include('../../layout/header') %>


        <body>
            <header>
                <h1>Best Books!</h1>
            </header>
            <h2>Search Results</h2>
            <main>
                <div class="container">
                    <div class="forEachCard">

                        <% booksArray.forEach(book=>{%>
                            <div class="border">

                            <ul>
                                <li>
                                    <img src="<%=book.image%> " class="img">
                                </li>
                                <li>
                                    <h3>
                                        <%= book.title %>
                                    </h3>

                                </li>
                                <li>
                                    <h4>
                                        <%= book.author %>
                                    </h4>
                                </li>
                                <li>
                                    <p>
                                        <%= book.description%>
                                    </p>
                                </li>
                                <li>
                                    <p>ISBN : <%= book.isbn %>
                                    </p>
                                </li>

                                <!-- <a href="/">Select this Books</a> -->
                                <li>
                                    <form class="" action="/book" method="post">
                                        <input type="hidden" name="image_url" value="<%= book.image%> " />
                                        <input type="hidden" name="title" value="<%= book.title %> " />
                                        <input type="hidden" name="author" value="<%= book.author %> " />
                                        <input type="hidden" name="description" value="<%= book.description %> " />
                                        <input type="hidden" name="isbn" value="<%= book.isbn %> " />
                                        <button class="" type="submit">Select This Book</button>
                                    </form>
                                </li>
                            </ul>
                            </div>
                            <% }) %>


                        
                    </div>

                </div>
            </main>
            <%- include('../../layout/footer') %>
        </body>

        </html>