<%- include('../layout/head')  %> 
<%- include('../layout/header')  %> 


<body>
  <main>
    <h2>Total saved books: <%=totalCount %> </h2>

<div class="cards">
    <% books.forEach(element=>{ %>
        <section class="container">
            <img class="img" src="<%= element.image_url %>" alt="<%= element.title %>">
          <h3>
            <%= element.title %>
          </h3>
          <h4>
            <%= element.author %>
          </h4>
          <button type="button"><a href="/book/<%=element.id%>">View Details</a> </button>
        </section>
        <% }); %>
      </div>

      </main>

        <%- include('../layout/footer')  %> 
</body>

</html>