<%- include('../../layout/head')  %> 
<%- include('../../layout/header')  %> 


<body>
    <div class="containerDetail">
        <div>
            <img class="img" src="<%= book.image_url %>" alt="<%= book.title %>">
            <h3 class="title">
                <%= book.title %>
            </h3>
            <h3 class="author">Authors: <%= book.author %>
            </h3>
            <h3 class="isbn">ISBN: <%= book.isbn %>
            </h3>
            <p class="discription">
                <%= book.description %>
            </p>
        </div>
    
    <form action="/delete/<%=book.id%>?_method=delete" method="post">
        <button>Delete Task</button>
     </form>

    <button id='updateBtn'>Update</button>
    <section id='updateForm'>
                <!-- <%- include('./edit') %> -->

        <h3>Update Saved Books</h3>
        <form action="/book/<%=book.id%>?_method=put" method="post">
            <input type="hidden" value="<%= book.image_url %>" name="image_url">
            <input type="text" name="title" value=' <%= book.title  %> '>
            <textarea name="author"><%= book.author  %></textarea>
            <input type="text" name="isbn" value="<%= book.isbn  %>">
            <input type="text" name="description" value="<%= book.description  %>">
            <button type="submit">Update</button>
        </form>
    </section>
</div>
    <footer>
        <%- include('../../layout/footer')  %> 
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../app.js"></script>
    </footer>
</body>

</html>